<div id="properties-barcodes">
	<% @property.reservations.each do |reservation| %>
		<div class="barcode">
			<%= unit_barcode(reservation.unit) %>
			<div class="unit-id">UNIT #<%= reservation.unit.id %></div>
			<div class="item-name"><%= truncate(reservation.unit.item.name, length: 40) %></div>
		</div>
	<% end %>
</div>
