<div id="properties-barcodes">
	<% @property.reservations.each do |reservation| %>
		<div class="barcode">
			<%= unit_barcode(reservation.unit) %>
			<div class="identification"><%= reservation.unit.id %> - <%= truncate(reservation.unit.item.name, length: 40) %></div>
		</div>
	<% end %>
</div>
