<div id="properties-barcodes">
	<% @items.each do |item| %>
		<div class="barcode">
			<%= item_barcode(item) %>
			<div class="identification"><%= item.id %> - <%= truncate(item.name, length: 40) %></div>
		</div>
	<% end %>
</div>