<div id="properties-index">
	<%= link_to "Add Property", new_property_path, class: "pure-button pure-button-primary", id: "add-property-button" %>
	<table class="pure-table">
		<thead>
			<tr>
				<th></th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Agent</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%= render @properties %>
		</tbody>
	</table>
</div>