<%= link_to zillow_property_path, class: "pure-button pure-button-primary medium round", id: "add-property-button" do %>
	<%= fa_icon 'home', class: 'left-icon' %> Add Property
<% end %>
<table class="pure-table">
	<thead>
		<tr>
			<th></th>
			<th>Address</th>
			<th>City</th>
			<th>State</th>
			<th>Agent</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @properties %>
	</tbody>
</table>