<div id="reservations-index">
	<h4>
		<%= filepicker_image_tag @unit.item.photo, fit: 'crop', h: 40 %>
		<%= @unit.item.name %> Reservations
		<span class="unit-id">(UNIT #<%= @unit.id %>)</span>
	</h4>
	<table class="pure-table">
		<thead>
			<tr>
				<th>Property</th>
				<th>Agent</th>
				<th>Reserved</th>
				<th>Checkput</th>
				<th>Checkin</th>
			</tr>
		</thead>
		<tbody>
			<%= render @reservations %>
		</tbody>
</div>
