<div id="reservations-index">
	<h4>
		<% if @unit.item.photo && @unit.item.photo != "" %>
			<%= filepicker_image_tag @unit.item.photo, fit: 'crop', h: 40 %>
		<% else %>
			<span class="image-placeholder"></span>
		<% end %>
		<span class="item-name"><%= @unit.item.name %> Reservations</span>
		<span class="unit-id">(UNIT #<%= @unit.id %>)</span>
	</h4>
	<table class="pure-table">
		<thead>
			<tr>
				<th>Property</th>
				<th>Agent</th>
				<th>Reserved</th>
				<th>Checkput</th>
				<th>Checkin</th>
			</tr>
		</thead>
		<tbody>
			<%= render @reservations %>
		</tbody>
</div>
