<div class="page-wrapper">
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "pure-form pure-form-stacked", id: "signin_form" }) do |f| %>
	  <div class="form-inputs">
	    <%= f.input :email, required: false, autofocus: true %>
	    <%= f.input :password, required: false %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Log in", class: "pure-button pure-button-primary large round" %>
	  </div>
	<% end %>
</div>