<div class="items-manage-checkout">
	<%= simple_form_for :item, url: checkout_item_path, method: :post, html: { class: "pure-form pure-form-stacked", id: "checkout-item" } do |f| %>
		<div class="form-inputs">
			<%= f.input :id, autofocus: true, label: "Item ID" %>
		</div>
		<div class="form-actions">
			<%= f.button :submit, "Checkout", class: "pure-button pure-button-primary" %>
		</div>
	<% end %>
</div>