@import "universal.scss";


/* index */

#properties-index {
	padding: 1em;

	#add-property-button {
		margin-bottom: 1em;
	}
}


/* _property */

.status {
	font-size: 12px;
	color: white;

	&.upcoming {
		color: #FFA500;
	}

	&.started {
		color: $primary;
	}
}


/* assign */

#properties-assign {
	padding: 1em;

	h4 {
		margin-top: 0;
		display: inline-block;
	}

	#filter {
		float: right;

		.dropdown {
			display: inline-block;

			.trigger,{
				cursor: pointer;
				margin-left: 10px;
				color: $primary;
				font-size: 14px;
				font-weight: 600;
			}
		}
	}

	table {
		tbody {
			tr {
				td {
					.reservations-index-link {
						color: rgba(0,0,0,.8);
					}
				}
			}
		}
	}
}


/* barcodes */

#properties-barcodes {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;

	.barcode {
		display: inline-block;
		text-align: center;
		padding: 10px 0;
		width: 20%;
		height: 96px;
		float: left;

		.identification {
			font-size: 10px;
			padding: 0 10px;
		}
	}
}