@import "universal.scss";


/* index */

#properties-index {
	padding: 1em;

	#add-property-button {
		margin-bottom: 1em;
	}
}


/* _property */

.status {
	font-size: 12px;
	color: white;

	&.upcoming {
		color: #FFA500;
	}

	&.started {
		color: $primary;
	}
}


/* assign */

#properties-assign {
	padding: 1em;

	h4 {
		margin-top: 0;
	}
}