@import "universal.scss";


/* index */

#reservations-index {
	h4 {
		margin-top: 6px;
		margin: 0 20px 20px 0;
		display: inline-block;
		font-size: 12px;
		float: left;
		text-transform: uppercase;

		img, .image-placeholder {
			margin-right: 10px;
			height: 40px;
			width: 40px;
			background: #f8f8f8;
			display: inline-block;
			float: left;
		}

		.item-name, .unit-id {
			display: inline-block;
			margin-top: 10px;
		}

		.unit-id {
			color: #8C99AB;
		}
	}
}

