@import "universal.scss";


/* index */

#reservations-index {
	h4 {
		margin-top: 6px;
		margin: 0 20px 20px 0;
		display: inline-block;
		font-size: 12px;
		float: left;
		text-transform: uppercase;

		img {
			margin-right: 10px;
		}

		.unit-id {
			color: #8C99AB;
		}
	}
}

