@import "universal.scss";


/* index */

#reservations-index {
	h4 {
		overflow: auto;
		margin-top: 0;
		display: inline-block;
		font-size: 12px;
		margin-bottom: 20px;

		img {
			float: left;
		}

		.item-name {
			float: left;
			margin: 11px 0.5em;
		}
	}
}

