@import "universal.scss";


/* index */

#units-index {
	h4 {
		margin-top: 6px;
		margin-bottom: 20px;
		margin-right: 20px;
		display: inline-block;
		font-size: 12px;
		float: left;
		text-transform: uppercase;
	}

	#add-unit-button {
		margin-bottom: 20px;
	}
}
