@import "colors.scss";
@import "mixins.scss";


/* forms */

form {
	.form-inputs {
		padding: 1em;

		.input {
			padding-bottom: 0.5em;

			label {
				margin-bottom: 0.5em;
			}

			select, input, textarea {
				width: 200px;
			}
		}
	}

	.form-actions {
		padding: 0 0 1em 1em;
	}
}


/* hide */

.hide {
	display: none;
}


/* tables */

table {
	width: 100%;

	tbody {
		tr {
			td {
				a {
					text-decoration: underline;
				}

				&.nowrap {
					width:1%;
    			white-space:nowrap;
				}
			}
		}
	}
}