@import "colors.scss";
@import "mixins.scss";


/* forms */

form {
	.form-inputs {
		padding: 1em;

		.input {
			padding-bottom: 0.5em;

			label {
				margin-bottom: 0.5em;
			}

			select {
				width: 187px;
			}
		}
	}

	.form-actions {
		padding-left: 1em;
	}
}